@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Using modern `rgb` notation */

  :root {
    --text-primary: 0, 0, 0;
    --primary: 18 129 138;
    --accent: 252 120 80;
    --background-start: 255 255 255;
    --background-end: 222 238 240;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --text-primary: 255 255 255;
      --primary: 18 174 181;
      --accent: 252 120 80;
      --background-start: 46 46 49;
      --background-end: 21 21 24;
    }
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  color: rgb(var(--text-primary));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end))
    )
    rgb(var(--background-start));
}
